python-3.10
streamlit==1.29.0
pandas==2.1.0
numpy==1.26.4
scikit-learn==1.2.2
scipy==1.11.2
sentence-transformers==2.2.2
transformers==4.33.2
torch==2.1.0
joblib==1.5.2
matplotlib==3.10.6
seaborn==0.12.2
plotly==5.17.0
scispacy==0.5.3
spacy==3.7.2
spacy-umls==0.5.2
pyarrow==14.0.1
imbalanced-learn==0.14.0
evaluate==0.4.5
