python=3.10.18
streamlit==1.29.0
pandas==2.1.0
numpy==1.26.4
scikit-learn==1.7.1
scipy==1.11.2
sentence-transformers==2.2.2
transformers==4.33.2
torch==2.8.0+cpu
joblib==1.5.2
matplotlib==3.10.6
seaborn==0.12.2
plotly==5.17.0
